{{- $secrets := false -}}
{{- $work := false -}}

{{- if (env "SECRETS") -}}
    {{- $secrets = true -}}
{{- end -}}

{{- if (env "WORK") -}}
    {{- $work = true -}}
{{- end -}}

data:
    secrets: {{ $secrets }}
    work: {{ $work }}

merge:
  command: "bash"
  args:
  - "-c"
  - "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}"
